body {
  font-family: 游ゴシック体, YuGothic, 游ゴシック, "Yu Gothic", sans-serif;
}

a {
  text-decoration: none;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

li {
  list-style-type: none;
}

/* max-width768px以上で改行を表示 */
.br_off_767 {
  display: inline;
}

/* max-width768px以上で改行を非表示 */
.br_on_767 {
  display: none;
}

.inner_wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

.offset:before {
  display: block;
  content: "";
  height: 80px;
  margin-top: -80px;
}

.banner_hover:hover {
    opacity: 0.6;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex_c {
  display: flex;
  justify-content: center;
}

.flex_sa {
  display: flex;
  justify-content: space-around;
}


.lead {
  font-size: 20px;
  font-weight: 700;
  color: #555;
  line-height: 1;
  margin-bottom: 100px ;
}

/* 透過度コントロール */
@keyframes fade_in {
  0% {
    opacity : 0;
  }
  100% {
    opacity : 1;
  }
}

/* Y軸位置コントロール */
/* 開始位置が特殊な為、実質ロゴにしか使えない */
@keyframes fade_up {
  0% {    
    -webkit-transform: translate(-50%, calc(-50% + 20px));
    transform :translate(-50%, calc(-50% + 20px));
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform : translate(-50%, -50%);
  }
}

/* 上から出現。下（元位置）へ移動 */
@keyframes fade_down {
  0% {
    -webkit-transform: translateY(-20px);
    transform :translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform : translateY(0);
  }
}


/* Navi Secton */

#header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.fade_in_down {
/* @keyframesで定義した分をnameで呼んで使用 */
  animation-name: fade_in, fade_down;
  animation-duration: 1s;
}

#header .inner_wrapper {
  padding: 0;
  align-items: center;
}

.header_logo {
  width: 155px;
} 

.header_logo a {
  line-height: 80px;
}

.header_logo img {
	vertical-align: middle;
}

.header_wrapper a:hover {
  opacity: 0.6;
}

.header_navi {
  text-align: left;
  
}

.header_navi a {
  font-size: 12px;
  font-weight: 700;
  color: #727272;
  line-height: 80px;
  display: inline-block;
  padding: 0 20px;
}

/* Hamburger */

/* Humbergerガワ */
#navi-drawer {
  right: 0; /* 右の端にハンバーガーを設置 */
  left: auto;
  position: absolute; /* 上辺右側に固定 */
}

/*チェックボックス*/
  /* これによってクリックされたときに影でON/OFFが切り替わり
  表示の有無等をコントロールする
  ボックスが見えては困るのであくまで非表示 */
.navi-hidden {
  display: none;
}
  
/*アイコン - ガワ*/
#navi-icon {
  cursor: pointer;
  display: none;
    /* 本来はinline-blockだが、768px以上では非表示にするため
    Media Queryの方でinline-block設定 */
  height: 60px;
    /* アイコン本体の高さ */
  position: relative;
    /* spanの位置を設定するために必要 */
  width: 60px;
    /* アイコン本体の横幅 */
  background-color: #f4ad71;
  transition: .5s ease-in-out;
    /* 横滑り等をするときの動きの設定*/
  z-index: 110;
    /* 閉じる用の薄黒カバーより前に持ってきてやるため
    カバーにセットした数字より大きいものを選択 */
}
  
/* ハンバーガー - ライン - 真ん中 */
#navi-icon span {
  background: #fff;
  border-radius: 3px;
    /* ラインの端の丸さ */
  display: block;
  height: 4px;
    /* ラインの高さ */
  left: 50%;
  margin: -2px 0 0 -14px;
    /* 余白部分 */
  position: absolute;
    /* アイコン - ガワに対して */
  top: 50%;
  transition: all 0.5s ease-in-out;
    /* バツに変わるときの動きの設定 */
  width: 28px;
    /* ラインの横幅 */
}

/* ハンバーガー - ライン - 上下 */
  /* ただしY軸位置は次に上書きされる */
#navi-icon span::before,
#navi-icon span::after {
  -webkit-transform: rotate(0);
  background: #fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: -2px 0 0 -50%;
  position: absolute;
  top: 50%;
  transform: rotate(0);
  transition: all 0.5s ease-in-out;
  width: 100%;
}

/* ラインの上下のY軸位置設定 
上記でmarginを設定しているが、topだけbeforeとafterの値が違うため
ここで再設定。こちらの方が後から読み込まれ上書きすることとなる */
#navi-icon span::before {
  margin-top: -10px;
}

#navi-icon span::after {
  margin-top: 6px;
}  

/*閉じる用の薄黒カバー*/
#navi-close {
  display: none;  /* はじめは隠しておく為 */
  position: fixed;
  z-index: 99;
    /* この数値の下の要素は全部カバー下に隠れる様になる
    ボタンはこれより大きい数値を設定する */
  top: 0; /* ページ全体を覆う設定 */
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
    /* 最初は透過。カバーが表示されるときに透過率も変更される */
  transition: .5s ease-in-out;  /* 謎 */
}

/*中身（リンクメニュー） */
#navi-content {
  text-align: left;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0; /* 右側に設置 */
  z-index: 9999;  /* 最前面に設置 */
  width: 250px;/* メニュー横幅*/
  max-width: 90%;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff; /* 背景色 */
  transition: .5s ease-in-out;
   /* メニューが横滑りで表示されるときの動きの設定 */
  -webkit-transform: translateX(105%);
  transform: translateX(105%); /* 右側にに隠しておく */
}

#navi-content a {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  color: #555;
  padding: 16px;
  display: block;
}

/* チェック（クリック）されたときにライン真ん中を消す */
#navi-checkbox:checked ~ #navi-icon span {
  background: rgba(51, 51, 51, 0);
}

/* チェック（クリック）されたときのライン上下の動き
（✖の位置にうごかす） */
#navi-checkbox:checked ~ #navi-icon span::before,
#navi-checkbox:checked ~ #navi-icon span::after {
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: -8% 0 0 -42%;
  position: absolute;
  top: 50%;
  width: 100%;
}

/* ~は同じ階層の後ろに並ぶ要素に適用させるセレクタ */
#navi-checkbox:checked ~ #navi-icon span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#navi-checkbox:checked ~ #navi-icon span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* チェック（クリック）されたときに以下を表示 */
#navi-checkbox:checked ~ #navi-close {
  display: block; /* カバーを表示 */
  opacity: .5;
}
 /* 中身を表示（左へスライド）*/
#navi-checkbox:checked ~ #navi-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/* アイコンをメニューに押されるように横にうごかす */
#navi-checkbox:checked ~ #navi-icon {
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
  transition: .5s ease-in-out;
}

/* Eye-catching */
#eye-catching {
  background: url(../img/header.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 64%;
  margin-top: 80px;
  position: relative;
}

.eye-catching_logo {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fade_in, fade_up;
  animation-duration: 1s;
}

/* Concept Section */
.concept_body p {
  font-size: 22px;
  font-weight: 400;
  color: #333;
  line-height: 52px;
}

.concept_body span {
  font-size: 38px;
  font-weight: 700;
  color: #555;
  line-height: 92px;
}

/* History Section */
.history {
  background-color: #fff;
  position: relative;
}

#history .bg {
  background-color: #fdfbf0;
}

#history .lead {
  margin-bottom: 135px;
}

.history_body {
  padding-bottom: 107px;
}

.history_1 {
  padding: 55px 40px 54px 515px;
  margin-left: 40px;
}

.history_2 {
  padding: 92px 521px 92px 30px;
  margin-right: 40px;
}

.history_3 {
  padding: 53px 50px 27px 545px;
  margin-left: 40px;
}

.history_4 {
  padding: 108px 512px 108px 33px;
  margin-right: 40px;
}

.history_5 {
  padding: 63px 42px 63px 529px;
  margin-left: 40px;
}

.history_paters {
  padding: 85px 445px 74px 74px;
  margin-right: 40px;
}

.history_img {
  position: absolute;
  max-width: 100%;
  top: -40px;
  text-align: center;
}

.history_img_paters {
  position: absolute;
  max-width: 100%;
  top: 97px;
  text-align: center;
}

.history_img_1,
.history_img_3,
.history_img_5{
  left: -40px;
}

.history_img_2,
.history_img_4{
  right: -40px;
}

.history_img_paters {
  right: 62px;
  width: 348px;
}

.history_img img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.history_img_paters img {
  max-width: 100%;
}

.history_text {
  text-align: left;
}

.history_text p {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  line-height: 34px;
}

.history_interval {
  margin-top: 26px;
  margin-bottom: 61px;
}

.history_message {
  margin-bottom: 107px;
}

.history_message p {
  font-size: 20px;
  font-weight: 700;
  color: #555;
  line-height: 47px; 
}

.history_closing_text {
  font-size: 28px;
  font-weight: 700;
  color: #555;
  line-height: 48px;
  position: relative;
  padding: 0 26px;
  margin-bottom: 14px;
}

.history_closing_text:before {
  content: '＼';
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.history_closing_text:after {
  content: '／';
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.history_message_img {
  text-align: center;
}

.history_message_img img {
  max-width: 100%;
}

#history .inner_wrapper {
  padding-bottom: 0;
}

/* Activity Section */
.activity_card {
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transition: all 0.6s ease 0s;
  margin-bottom: 30px;
}

.activity_card:hover {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px)
}

.activity_card_r {
  margin-right: 30px;
}

.activity_card a {
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  color: #555;
}

.card_img {
  padding: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
}

.card_img img {
  border-radius : 2px 2px 0 0;
}

.card_title {
  padding: 30px 8px;
}

/* Activity */

.activity_body .bg {
  background-color: #fdfbf0;
}

.activity {
  margin: 0 auto;
  margin: 0 0 136px 35px;
  text-align: center;
  position: relative;
}

.activity:last-child {
  margin-bottom: 0;
}

.activity_text {
  background-color: #fff;
  padding: 35px 42px 34px 532px;
  position: relative;
}

.activity_img {
  position: absolute;
  max-width: 100%;
  top: -35px;
  text-align: center;
  left: -35px;
  z-index: 10;
}

.activity_img img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.16);
}

.activity_text {
  text-align: left;
}

.activity_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 58px;
  color: #333;
  margin-bottom: 35px;
}

.activity_detail {
  font-size: 16px;
  font-weight: 700;
  line-height: 27.5px;
  color: #555;
  margin-bottom: 15px;
}

.activity_contact {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #333;
  margin-bottom: 15px;
}

.activity_detail a {
  color: #f4ad71;
  text-decoration: underline;
}

.activity_detail a:hover {
  opacity: 0.6;
}

.cafe_banners,
.activity_youtubes {
  padding: 0 42px 34px 42px;
  background-color: #fff;
}

.cafe_banners,
.activity_youtubes {
  padding: 0 42px 34px 42px;
  background-color: #fff;
}

.cafe_banner {
  width: 276px;
  max-width: 100%;
}

.activity_youtubes ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.activity_youtubes li {
	max-width: 100%;
	width: 276px;
}

.activity_youtubes li a {
	display: block;
	text-align: center;
}

.activity_youtube {
  padding-top: 56.25%;
  /* iframeの位置を定めるため */
  position: relative;
  width: 100%;
}

.activity_youtube iframe {
width: 100%;
height: 100%;
/* 位置を定める */
position: absolute;
top: 0;
left: 0;
}

.activity_tv_banner {
  width: 325px;
  max-width: 100%;
}

/* Member Section */
.members {
  margin-bottom: 62px;
}

.member_2 {
  width: 370px;
}

.member_3 {
  width: 281px;
}


.member_3:last-child {
  margin-bottom: 0;
}

.member_img {
  margin-bottom: 40px;
}

.member_name {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #333;
  margin-bottom: 36px;
}

.member_name p {
  display: inline-block;
  padding-right: 10px;  
  line-height: 22px;
  vertical-align: middle;
}

.member_name a {
  display: inline-block;
  vertical-align: middle;
  /* ホバー拡大アニメーション終息時用 */
  transition: all 0.3s 
}

.member_name a:hover {
  /* 拡大アニメーション */
  transform: scale(1.1);
  transition: all 0.3s 
}

.member_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333
}

.member_blog a {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #f4ad71;
  text-decoration-line: underline;
}

.member_blog a:hover {
  opacity: 0.6;
}


/* News Section */

#news .bg {
  background-color: #fdfbf0;
}

.new {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 12px 24px 12px 236px;
  /* new_dateの位置設定用 */
  position: relative;
  text-align: left;
}

.new_date {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #b4cf9e;
  position: absolute;
  left: 100px;
}

.new_text a {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #333;
  text-decoration-line: underline;
}

/* Calendar Section */

#calendar .inner_wrapper {
  padding: 100px 0 92px 0;
}

/* Sponsor Section */

#sponsor .bg {
  background-color: #fdfbf0;
} 

/* Footer Menu Section */
#footer_menu {
  background: url("../img/footer.jpg") no-repeat;
  background-size: cover;
  padding-top: 63%;
  /* footer_menuの位置定め用 */
  position: relative;
}

#footer_menu .inner_wrapper {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.footer_sns {
  text-align: left;
  margin-bottom: 40px;
}

.footer_sns li {
  display: inline-block;
  margin-right: 30px;
}

.footer_sns li:last-child {
  margin-right: 0;
}

.footer_sns a {
  display: block;
  transition: all 0.3s 
}

.footer_sns a:hover {
  transform: scale(1.1);
  transition: all 0.3s 
}

.footer_menu_menu {
  text-align: left;
  width: calc(100% - 333px);
}

.footer_menu_menu li {
  display: inline-block;
  margin-right: 30px;
}

.footer_menu_menu li:last-child {
  margin-right: 0;
}

.footer_menu_menu a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 22px;
  display: block;
  float: left;
}

.footer_menu_menu a:hover {
opacity: 0.6;
}

.twitter {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Footer Section */
footer {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  background-color: rgb(62, 62, 62);
}

.inner_wrapper_footer {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 16px 0;
  text-align: center;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
}


/*---Media Queries --*/
@media (min-width: 990px) {
  .inner_wrapper {
    /* 横幅固定で基本コンテンツがこれ以上に広がっていかない様に */
    width: 990px;
  }

}

@media screen and (max-width: 989px) {

   #header .inner_wrapper {
    padding: 0 24px;
  }

  .inner_wrapper {
    padding: 36px 24px 42px 24px;
  }

  .header_logo {
    width: 165px;
    padding-right: 10px
  } 

  .header_navi a {
    padding: 0 12px;
  }

  .eye-catching_logo {
    top: 46%;
  }
  
  /* History */

  .history_img {
    width: calc(50% + 40px);
  }

  .history_img_paters {
    right: 30px;
    width: calc(50% - 30px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .history_img_paters img {
    height: auto;
    vertical-align: top;
  }

  .history_1,
  .history_3,
  .history_5 {
    padding: 54px 30px 54px 50%;
  }

  .history_2,
  .history_4,
  .history_paters {
    padding: 54px 50% 54px 30px;
  }

  /* Activity */

  .activity_card {
    flex-basis: 31%;
    align-self: flex-end;
  }

  .activity_body .inner_wrapper {
    padding-top: 71px;
  }

  .cafe_banners {
    padding-left: 30px;
    padding-right: 30px;
  }

  .activity_text {
    padding: 35px 30px 34px calc(50% + 30px);
  }

  .activity_img {
    background-color: #fff;
    width: calc(50% + 35px);
  }

  .cafe_banner,
  .activity_youtubes li {
    flex-basis: 32%;
  }

  .activity_youtubes {
    padding-left: 30px;
    padding-right: 30px;
  }

  .activity_body .inner_wrapper {
    padding-top: 71px;
  }

  .member_2 {
    width: 48%;
  }

  .member_3 {
    width: 30%;
  }

  /* Calendar */
  #calendar .inner_wrapper {
    padding: 36px 24px 34px 24px;
  }

  .twitter {
    right: 24px;
  }
  
  #footer_menu .inner_wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  
  /* 改行を外す */
  .br_off_767 {
    display: none;
  }
  
  /* 改行をつける */
  .br_on_767 {
    display: block;
  }
  
  .inner_wrapper {
    padding: 36px 12px 42px 12px;
  }
  
  .lead {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 42px;
  }

  .eye-catching_logo {
    top: 45%;
  }

  #header .inner_wrapper {
    padding: 0 12px;
  }

  .header_navi {
    display: none;
  }

  #navi-icon {
    display: inline-block;
  } 

  /* Eye-Catching */
  .eye-catching_logo {
    width: 200px;
  }



  /* Concept */

  .concept_body p {
    font-size: 16px;
    line-height: 2.40909;
  }
  
  .concept_body span {
    font-size: 20px;
    line-height: 48px;
  }
  

  /* Histry */
  /* 写真と文章が別列 */

  #history .lead {
    margin-bottom: 42px;
  }

  .history_body {
    padding-bottom: 42px;
  }

  .history_1,
  .history_3,
  .history_5
  {
    padding: 0;
    margin-left: 0;
  }
  
  .history_2, 
  .history_4 {
    padding: 0;
    margin-right: 0;
  }
  
  .history_paters {
    padding: 0;
    margin-right: 0;
  }
  
  .history_img {
    position: unset;
    top: 0;
    width: 100%;
  }
  
  .history_img_1,
  .history_img_3,
  .history_img_5 {
    left: 0;
  }
  
  .history_img_2,
  .history_img_4 {
    right: 0;
  }
  
  .history_img_paters {
    position: unset;
    top: 0;
    width: 100%;
    right: 0;
    transform: none;
    max-width: 100%;
  }

  .history_img_paters img {
    position: static;
  }

  .history_text {
    padding: 16px;
  }
  
  .history_text p {
    font-size: 16px;
    line-height: 27px;
  }
  
  .history_interval {
    margin-bottom: 26px;
    margin-left: auto;
    margin-right:auto;
    max-width: 86%;
    text-align: center;
  }
  
  .history_message p {
    font-size: 16px;
    line-height: 2.35; 
  }
  
  .history_message {
    margin-bottom: 42px;
  }

  .history_message p {
    font-size: 16px;
  }
  
  .history_closing_text {
    font-size: 18px;
    line-height: 27px;
  }
  
  
  /* Activity */

  .activity_body .inner_wrapper {
    padding-top: 36px;
  }

  #activity .lead {
    margin-bottom: 0;
  }

  /* カード非表示 */
  .activity_cards {
    display: none;
  }

  /* 写真と文章が別列 */
  .activity {
    margin: 0 0  42px 0;
    text-align: center;
  }

  .activity_text {
    padding: 32px 12px 42px 12px;
    margin-left: 0px;
    position: unset;
  }

  .activity_img {
    position: unset;
    top: 0;
    left: 0;
    width: 100%;
  }

  .activity_text {
    padding: 16px;
  }

  .activity_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 18px;
  }

  .activity_detail {
    font-weight: 100;
  }

  .activity_contact {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
    margin-bottom: 15px;
  }

  .cafe_banner {
    width: 100%;
    margin-bottom: 24px;
  }

  .cafe_banner:last-child {
    margin-bottom: 0;
  }

  .cafe_banners,
  .activity_banners {
    padding: 16px;
    margin-left: 0;
    background-color: #fff;
  }

  .activity .flex {
    display: block;
  }

  .activity_banner {
    width: 100%;
    max-width: 100%;
    margin-bottom: 24px;
  }

  .activity_youtubes {
    padding: 16px;
  }

  .activity_youtubes li {
    margin-bottom: 24px;
    width: 100%;
  }

  .activity_youtubes li:last-child {
    margin-bottom: 0;
  }


  .activity_tv_banner {
    width: 325px;
    max-width: 100%;
  }

  /* member */

  .members {
    margin-bottom: 42px;
  }

  #member .flex_sa {
    display: block;
  }

  .members_last {
    margin-bottom: 0;
  }

  .member_2 {
    width: 100%;
    margin-bottom: 42px;
  }

  .member_3 {
    width: 100%;
    margin-bottom: 42px;
  }

  .member_3:last-child {
    margin-bottom: 0;
  }

  .member_img {
    margin-bottom: 20px;
  }

  .member_name {
    margin-bottom: 20px;
  }

  .member_name p {
    padding-right: 9px;  
  }

  .member_text {
    padding: 0 16px;
    text-align: center;
  }

  .member_text p {
    text-align: left;
  }

  /* Calendar */
  /* 非表示 */
  #calendar {
    display: none;
  }  

  /* News */
  /* 日と内容が別列 */
  #news .bg {
    background-color: #fdfbf0;
  }

  .new {
    padding: 12px 8px;
    position: unset;
  }

  .new_date {
    position: unset;
    left: 0;
  }

  /* Sponsor  */
  #sponsor .bg  {
    background-color: #fff;
  }

  /* Footer */
  #footer_menu .footer_sns {
    text-align: center;
  }

  /* ナビ非表示 */
  .footer_menu_menu,
  .twitter {
    display: none;
  }

}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








